In [1]:
import pandas as pd

In [13]:
ACS_2020_df = pd.read_csv(r"F:\Research\Safegraph_bias\ACS2020.csv")
ACS_2019_df = pd.read_csv(r"F:\Research\Safegraph_bias\ACS2019.csv")
ACS_2021_df = pd.read_csv(r"F:\Research\Safegraph_bias\ACS2021.csv")

ACS_2020_df
ACS_2021_df

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,Geo_TAZ,Geo_UGA,Geo_PUMA5,Geo_PUMA1,Geo_GEOID,Geo_NAME,Geo_BTTR,Geo_BTBG,Geo_PLACESE,SE_A00001_001
0,10010201001,"Block Group 1, Census Tract 201, Autauga Count...",ACSSF,al,150,0,3226,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US010010201001,Block Group 1,NaN,NaN,NaN,693
1,10010201002,"Block Group 2, Census Tract 201, Autauga Count...",ACSSF,al,150,0,3227,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US010010201002,Block Group 2,NaN,NaN,NaN,1098
2,10010202001,"Block Group 1, Census Tract 202, Autauga Count...",ACSSF,al,150,0,3228,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US010010202001,Block Group 1,NaN,NaN,NaN,844
3,10010202002,"Block Group 2, Census Tract 202, Autauga Count...",ACSSF,al,150,0,3229,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US010010202002,Block Group 2,NaN,NaN,NaN,1166
4,10010203001,"Block Group 1, Census Tract 203, Autauga Count...",ACSSF,al,150,0,3230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US010010203001,Block Group 1,NaN,NaN,NaN,2685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242330,721537506011,"Block Group 1, Census Tract 7506.01, Yauco Mun...",ACSSF,pr,150,0,6156,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US721537506011,Block Group 1,NaN,NaN,NaN,1894
242331,721537506012,"Block Group 2, Census Tract 7506.01, Yauco Mun...",ACSSF,pr,150,0,6157,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US721537506012,Block Group 2,NaN,NaN,NaN,1820
242332,721537506013,"Block Group 3, Census Tract 7506.01, Yauco Mun...",ACSSF,pr,150,0,6158,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US721537506013,Block Group 3,NaN,NaN,NaN,1213
242333,721537506021,"Block Group 1, Census Tract 7506.02, Yauco Mun...",ACSSF,pr,150,0,6159,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US721537506021,Block Group 1,NaN,NaN,NaN,1295
242334,721537506022,"Block Group 2, Census Tract 7506.02, Yauco Mun...",ACSSF,pr,150,0,6160,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15000US721537506022,Block Group 2,NaN,NaN,NaN,894

In [14]:
len(ACS_2021_df.merge(ACS_2019_df, on='Geo_FIPS')), len(ACS_2019_df.merge(ACS_2021_df, on='Geo_FIPS'))

(173585, 173585)

In [3]:
ACS_2019_df

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_BTTR,Geo_BTBG,Geo_PUMA5,Geo_PUMA1,SE_A00001_001
0,10010201001,15000US010010201001,Block Group 1,"Block Group 1, Census Tract 201, Autauga Count...",al,150,0,ACSSF,2953,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,730
1,10010201002,15000US010010201002,Block Group 2,"Block Group 2, Census Tract 201, Autauga Count...",al,150,0,ACSSF,2954,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1263
2,10010202001,15000US010010202001,Block Group 1,"Block Group 1, Census Tract 202, Autauga Count...",al,150,0,ACSSF,2955,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835
3,10010202002,15000US010010202002,Block Group 2,"Block Group 2, Census Tract 202, Autauga Count...",al,150,0,ACSSF,2956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1124
4,10010203001,15000US010010203001,Block Group 1,"Block Group 1, Census Tract 203, Autauga Count...",al,150,0,ACSSF,2957,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,721537506011,15000US721537506011,Block Group 1,"Block Group 1, Census Tract 7506.01, Yauco Mun...",pr,150,0,ACSSF,6111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,883
220329,721537506012,15000US721537506012,Block Group 2,"Block Group 2, Census Tract 7506.01, Yauco Mun...",pr,150,0,ACSSF,6112,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2523
220330,721537506013,15000US721537506013,Block Group 3,"Block Group 3, Census Tract 7506.01, Yauco Mun...",pr,150,0,ACSSF,6113,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,991
220331,721537506021,15000US721537506021,Block Group 1,"Block Group 1, Census Tract 7506.02, Yauco Mun...",pr,150,0,ACSSF,6114,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1577
220332,721537506022,15000US721537506022,Block Group 2,"Block Group 2, Census Tract 7506.02, Yauco Mun...",pr,150,0,ACSSF,6115,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,648